/* CSS dari navbar */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
}
.content {
    padding: 20px;
}
.logout-link {
    color: #dc3545 !important;
}
.logout-link:hover {
    color: #f8d7da !important;
}